In [6]:
import pandas as pd
import numpy as np

import pymysql
from sqlalchemy import create_engine

from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, ConfusionMatrixDisplay
from sklearn.metrics import classification_report, f1_score, cohen_kappa_score

import getpass  # To get the password without showing the input

In [7]:
password = getpass.getpass()

········

In [8]:
import sqlalchemy

In [9]:
print(password)

1234

In [10]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
engine = create_engine(connection_string)
data = pd.read_sql_query('SELECT * FROM rental', engine)
data.head()

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update,day_type
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1,2023-06-27 14:55:26,workday
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1,2023-06-27 14:55:26,workday
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1,2023-06-27 14:55:26,workday
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2,2023-06-27 14:55:26,workday
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1,2023-06-27 14:55:26,workday

In [11]:
def rentals_month(engine,month,year):
    # Build the SQL query
    query = f"""
        SELECT *
        FROM rental
        WHERE MONTH(rental_date) = {month} AND YEAR(rental_date) = {year}
    """

    # Execute the query and retrieve the data into a DataFrame
    df = pd.read_sql(query, engine)

    return df

In [13]:
from sqlalchemy import create_engine

# Establish a database connection engine
engine = create_engine('mysql+pymysql://root:1234@localhost/sakila')

# Specify the month and year
month = 5  # May
year = 2005

# Call the function to retrieve rental data
rental_data = rentals_month(engine, month, year)

# Print the DataFrame
print(rental_data)

      rental_id         rental_date  inventory_id  customer_id  \
0             1 2005-05-24 22:53:30           367          130
1             2 2005-05-24 22:54:33          1525          459
2             3 2005-05-24 23:03:39          1711          408
3             4 2005-05-24 23:04:41          2452          333
4             5 2005-05-24 23:05:21          2079          222
...         ...                 ...           ...          ...
1151       1153 2005-05-31 21:36:44          2725          506
1152       1154 2005-05-31 21:42:09          2732           59
1153       1155 2005-05-31 22:17:11          2048          251
1154       1156 2005-05-31 22:37:34           460          106
1155       1157 2005-05-31 22:47:45          1449           61

             return_date  staff_id         last_update day_type
0    2005-05-26 22:04:30         1 2023-06-27 14:55:26  workday
1    2005-05-28 19:40:33         1 2023-06-27 14:55:26  workday
2    2005-06-01 22:12:39         1 2023-06-27 14:55:26  workday
3    2005-06-03 01:43:41         2 2023-06-27 14:55:26  workday
4    2005-06-02 04:33:21         1 2023-06-27 14:55:26  workday
...                  ...       ...                 ...      ...
1151 2005-06-10 01:26:44         2 2023-06-27 14:55:26  workday
1152 2005-06-08 16:40:09         1 2023-06-27 14:55:26  workday
1153 2005-06-04 20:27:11         2 2023-06-27 14:55:26  workday
1154 2005-06-01 23:02:34         2 2023-06-27 14:55:26  workday
1155 2005-06-02 18:01:45         1 2023-06-27 14:55:26  workday

[1156 rows x 8 columns]

In [15]:
def rental_count_month(df, month, year):
    rental_count = df.groupby('customer_id').size().reset_index(name=f'rentals_{month}_{year}')
    return rental_count

In [16]:
# Assuming you have already established a database connection engine

# Retrieve rental data for a specific month and year
rental_data = rentals_month(engine, 5, 2005)

# Calculate the rental count for each customer during the specified month and year
rental_count = rental_count_month(rental_data, 5, 2005)

# Print the resulting DataFrame
print(rental_count)

     customer_id  rentals_5_2005
0              1               2
1              2               1
2              3               2
3              5               3
4              6               3
..           ...             ...
515          594               4
516          595               1
517          596               6
518          597               2
519          599               1

[520 rows x 2 columns]

In [18]:
def compare_rentals(df1, df2):
    # Merge the two DataFrames based on the customer column
    merged_df = pd.merge(df1, df2, on='customer', suffixes=('_month1', '_month2'))
    
    # Calculate the difference between the number of rentals in the two months
    merged_df['difference'] = merged_df['rentals_month2'] - merged_df['rentals_month1']
    
    return merged_df

In [22]:
query1 = '''
SELECT customer_id, COUNT(*) AS num_rentals
FROM rental
WHERE EXTRACT(MONTH FROM rental_date) = 6 -- Specify the month you want
  AND EXTRACT(YEAR FROM rental_date) = 2005 -- Specify the year you want
GROUP BY customer_id
'''

# Query 2: Number of rentals per customer for a different month and year
query2 = '''
SELECT customer_id, COUNT(*) AS num_rentals
FROM rental
WHERE EXTRACT(MONTH FROM rental_date) = 2 -- Specify the month you want
  AND EXTRACT(YEAR FROM rental_date) = 2006 -- Specify the year you want
GROUP BY customer_id
'''

# Execute the queries and fetch the results
df1 = pd.read_sql_query(query1,engine)
df2 = pd.read_sql_query(query2,engine)


# Print the resulting DataFrames
print("DataFrame 1:")
print(df1)

print("\nDataFrame 2:")
print(df2)

DataFrame 1:
     customer_id  num_rentals
0              1            7
1              2            1
2              3            4
3              4            6
4              5            5
..           ...          ...
585          595            2
586          596            2
587          597            3
588          598            1
589          599            4

[590 rows x 2 columns]

DataFrame 2:
     customer_id  num_rentals
0              5            1
1              9            1
2             11            1
3             14            1
4             15            2
..           ...          ...
153          587            1
154          590            1
155          592            1
156          596            1
157          597            1

[158 rows x 2 columns]